<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <h1>Ulazne fakture</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>Dobavljač</th>
              <th>Vrednost</th>
              <th>Datum prijema</th>
              <th>Datum isteka</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let inputinvoice of inputinvoices">
              <td><a (click)="getInputinvoice(inputinvoice.id)">{{inputinvoice.dobavljac}}</a></td>
              <td>{{inputinvoice.vrednost}}</td>
              <td>{{inputinvoice.datumPrijema}}</td>
              <td>{{inputinvoice.datumIsteka}}</td>
              <td><a (click)="deleteInputinvoice(inputinvoice.id)"><span class="fa fa-trash"></span></a></td>
            </tr>
              <tr>
                <td>DobavljacPH</td>
                <td>VrednostPH</td>
                <td>Datum prijemaPH</td>
                <td>Datum istekaPH</td>
                <td><a (click)="deleteInputinvoice(inputinvoice.id)"><span class="fa fa-trash"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>