/*
 * Typography
 */

h1 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9ecef;
}

.inputForm {
	border: 2px solid #007bff;
	padding: 5px 20px;
	border-radius: 10px;
	background-color: #444;
	margin: 30px 20px;
}

.form-control {
	margin: 0 10px;
}