<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <h1>Izlazne fakture</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>Kupac</th>
              <th>Vrednost</th>
              <th>Datum izdavanja</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let outputinvoice of outputinvoices">
              <td><a (click)="getOutputinvoice(outputinvoice.id)">{{outputinvoice.kupac}}</a></td>
              <td>{{outputinvoice.vrednost}}</td>
              <td>{{outputinvoice.datumIzdavanja}}</td>
              <td><a (click)="deleteOutputinvoice(outputinvoice.id)"><span class="fa fa-trash"></span></a></td>
            </tr>
            <tr>
              <td>KupacPH</td>
              <td>VrednostPH</td>
              <td>Datum izdavanjaPH</td>
              <td><a (click)="deleteOutputinvoice(outputinvoice.id)"><span class="fa fa-trash"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>