<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <h1>Arhiva</h1>
      <div class="table-responsive">
        <table class="table table-hover" id="table_id">
          <thead class="thead-inverse">
            <tr>
              <th>Šifra</th>
              <th>Ime</th>
              <th>Količina</th>
              <th>Nabavna cena</th>
              <th>Prodajna cena</th>
              <th></th>
            </tr>
          </thead>
          <colgroup>  
             <col style="width: 19.2%;">
             <col style="width: 19.2%;">
             <col style="width: 19.2%;">
             <col style="width: 19.2%;">
             <col style="width: 19.2%;">
             <col style="width: 4%;">
          </colgroup>
          <tbody>
            <tr *ngFor = "let arhiva of arhive">
              <td><a (click)="getArhiviranDoc(arhiva.id)">{{arhiva.sifra}}</a></td>
              <td>{{arhiva.ime}}</td>
              <td>{{arhiva.kolicina}}</td>
              <td>{{arhiva.nCena}}</td>
              <td>{{arhiva.pCena}}</td>
              <td><a (click)="deleteinvoice(arhiva.id)"><span class="fa fa-trash"></span></a></td>
            </tr>
            <tr>
              <td>sifraAAAAAAAAAAAAAAAPH</td>
              <td>imeAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPH</td>
              <td>kolicAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAinaPH</td>
              <td>nCenaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPH</td>
              <td>pCenAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaPH</td>
              <td><a (click)="deleteinvoice(arhiva.id)"><span class="fa fa-trash"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>