/*
 * Typography
 */

h1 {
  margin-bottom: 15px;
  padding-bottom: 7px;
}

.fa:focus, .fa:hover {
  color: #007bff;
}

.artikl-ime {
  cursor: pointer;
  color: #fff !important;
}

.artikl-ime:hover {
    color: #007bff !important;
}