<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <h1>Arhiva</h1>
      <div class="table-responsive">
        <table class="table table-hover" id="table_id">
          <thead class="thead-inverse">
            <tr>
              <th>Šifra</th>
              <th>Ime</th>
              <th>Količina</th>
              <th>Nabavna cena</th>
              <th>Prodajna cena</th>
            </tr>
          </thead>
          <colgroup>  
             <col style="width: 10%;">
             <col style="width: 35%;">
             <col style="width: 15%;">
             <col style="width: 20%;">
             <col style="width: 20%;">
          </colgroup>
          <tbody>
            <tr *ngFor = "let arhArtikl of arhArtikli">
              <td>{{arhArtikl.code}}</td>
              <td><a (click)="getArtikl(arhArtikl.id)">{{arhArtikl.name}}</a></td>
              <td>{{arhArtikl.quantity}}</td>
              <td>{{arhArtikl.purchaseP}}</td>
              <td>{{arhArtikl.sellingP}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>