 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">Magacin</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}" class="nav-item">
        <a [routerLink]="['']" class="nav-link">Početna</a>
      </li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}" class="nav-item">
        <a [routerLink]="['/login']" class="nav-link">Ulaz</a>
      </li>
      <li *ngIf="authService.loggedIn()">
          <a (click)="onLogoutClick()">Izlaz</a>
      </li>
    </ul>
  </div>
</nav>