<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-lg-10 pt-3" role="main">
      <h1>Izlazne fakture</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>Naručilac</th>
              <th>Broj fakture</th>
              <th>Vrednost</th>
              <th>Datum izdavanja</th>
              <th></th>
            </tr>
          </thead>
          <colgroup>  
             <col style="width: 25%;">
             <col style="width: 35%;">
             <col style="width: 15%;">
             <col style="width: 20%;">
             <col style="width: 5%;">
          </colgroup>
          <tbody>
            <tr *ngFor = "let invoice of invoices">
              <td>{{invoice.details.purchaser}}</td>
              <td><a (click)="getInvoice(invoice.details.id)" class="invoice-number">{{invoice.details.invNumber}}</a></td>
              <td>{{invoice.details.total}}</td>
              <td>{{invoice.details.issueDate | date:'shortDate'}}</td>
              <td>
                <a (click)="undoInvoice(invoice.details.id)" *ngIf="invoice.active"><span class="active fa fa-trash"></span></a>
                <!-- LINK NOT ACTIVE -->
                <a *ngIf="!invoice.active"><span class="inactive fa fa-spinner fa-spin fa-3x fa-fw"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>