<nav class="col-sm-3 col-lg-2 d-none d-sm-block sidebar">
  <ul class="nav nav-pills flex-column">
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}" class="nav-item">
      <a [routerLink]="['/magacin']" class="nav-link"><span class="fa fa-archive"></span> Magacin</a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}" class="nav-item">
      <a [routerLink]="['/arhiva']" class="nav-link"><span class="fa fa-book"></span> Arhiva</a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}" class="nav-item">
      <a [routerLink]="['/ulaznefakture']" class="nav-link"><span class="fa fa-level-down fa-lg"></span> Ulazne fakture</a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}" class="nav-item">
      <a [routerLink]="['/izlaznefakture']" class="nav-link"><span class="fa fa-share"></span> Izlazne fakture</a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}" class="nav-item">
      <a [routerLink]="['/dobavljaci']" class="nav-link"><span class="fa fa-truck fa-lg"></span> Dobavljači</a>
    </li>
  </ul>
<hr>
  <ul class="nav nav-pills flex-column">
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}" class="nav-item">
      <a [routerLink]="['/ulaz']" class="nav-link"><span class="fa fa-plus-circle fa-lg"></span> Nova ulazna faktura</a>
    </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}" class="nav-item">
      <a [routerLink]="['/izlaz']" class="nav-link"><span class="fa fa-plus-circle fa-lg"></span> Nova izlazna faktura</a>
    </li>
  </ul>
</nav>