<div class="container">
  <div id="logIn-sec">
      <form (submit)="onLoginSubmit()" class="form-group">
          <div *ngIf="error" class="form-group">
              <label class="error-label">{{errorMsg}}</label>
          </div>
          <div class="form-group">
              <label>Korisničko ime</label>
              <input [(ngModel)]="username" type="username" class="form-control" name="username" placeholder="Unesite Vaše korisničko ime">
          </div>
          <div class="form-group">
              <label>Šifra</label>
              <input [(ngModel)]="password" type="password" class="form-control" name="password" placeholder="Unesite Vašu šifru">
          </div>
          <div class="form">
              <button type="submit" class="btn btn-primary btn-success btn-block btn-signUp" [disabled]="submitLock">
                <span [hidden]="submitLock">Ulaz</span>
                <span [hidden]="!submitLock"><i class="fa fa-refresh fa-spin"></i></span>
              </button>
          </div>
      </form>
      <div>Ukoliko nemate nalog <a [routerLink]="['/']">kreirajte ga</a></div>
   </div>
</div>