<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
    	<div class="omotac">
	      <h1>Dobavljači</h1>
	      <button (click)="resetErrorFlags()" class="btn btn-primary" data-toggle="modal" data-target="#add-supplier-modal">Dodaj dobavljača</button>
    	</div>   
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>Ime</th>
              <th>PIB</th>
              <th>Broj saradnji</th>
              <th></th>
            </tr>
          </thead>
          <colgroup>  
             <col style="width: 32%;">
             <col style="width: 32%;">
             <col style="width: 32%;">
             <col style="width: 4%;">
          </colgroup>
          <tbody>
            <tr *ngFor = "let supplier of suppliers">
              <td>{{supplier.name}}</td>
              <td>{{supplier.taxId}}</td>
              <td>{{supplier.collabCount}}</td>
              <td><a (click)="deleteSupplier(supplier.name)"><span class="fa fa-trash"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="add-supplier-modal" tabindex="-1" role="dialog" aria-labelledby="add supplier">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Dodaj dobavljača</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body col-md-12">
        <form (keyup.enter)="addSupplier(name.value, taxId.value)" >
          <div class="form-group">
            <label for="modal-name">Ime: </label>
            <input #name type="text" class="form-control" id="modal-name" placeholder="Ime dobavljača">
            <label *ngIf="errorName" for="modal-name" style="color: red; float: right; font-size: 10px;">
            Popunite polje!
            </label>
          </div>
          <div class="form-group">
            <label for="modal-taxId">PIB: </label>
            <input #taxId type="text" class="form-control" id="modal-taxId" placeholder="Unesite PIB dobavljača">
            <label *ngIf="errorTaxId" for="modal-taxId" style="color: red; float: right; font-size: 10px;">
            Popunite polje!
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Otkaži</button>
        <button (click)="addSupplier(name.value, taxId.value)" type="button" class="btn btn-primary" [disabled]="submited">Dodaj</button>
      </div>
    </div>
  </div>
</div>