<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <h1>Magacin</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Šifra</th>
              <th>Ime</th>
              <th>Količina</th>
              <th>Nabavna cena</th>
              <th>Prodajna cena</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let artikl of artikli">
              <td><a (click)="getArtikl(artikl.id)">{{artikl.sifra}}</a></td>
              <td>{{artikl.ime}}</td>
              <td>{{artikl.kolicina}}</td>
              <td>{{artikl.nCena}}</td>
              <td>{{artikl.pCena}}</td>
              <td>
                <a data-toggle="modal" data-target="#edit-artikl-modal"><span class="fa fa-pencil"></span></a>
              </td>
              <td><a (click)="deleteFacture(artikl.id)"><span class="fa fa-trash"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-artikl-modal" tabindex="-1" role="dialog" aria-labelledby="Edit Artikl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="fa fa-pencil"></span>Promena artikla</h4>
      </div>
      <div class="modal-body col-md-12">
        <form (keyup.enter)="updateArtikl(modSifra.value, modIme.value, modKolicina.value, modPCena.value)" >
          <div class="form-group">
            <label for="modal-name">Sifra: </label>
            <input #modSifra type="text" class="form-control" id="modal-sifra" value={{artiklSifra}} placeholder="Sifra">
          </div>
          <div class="form-group">
            <label for="modal-ime">Ime: </label>
            <input #modPhone type="text" class="form-control" id="modal-ime" value={{memberIme}} placeholder="Ime">
          </div>
          <div class="form-group">
            <label for="modal-kolicina">Količina: </label>
            <input #modKolicina type="text" class="form-control" id="modal-kolicina" value={{memberKolicina}} placeholder="Količina">
          </div>
          <div class="form-group">
            <label for="modal-pCena">Prodajna cena: </label>
            <input #modPCena type="text" class="form-control" id="modal-pCena" value={{memberPCena}} placeholder="Prodajna cena">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button (click)="updateArtikl(modSifra.value, modIme.value, modKolicina.value, modPCena.value)" type="button" class="btn btn-primary">
          <span class="fa fa-floppy-o" aria-hidden="true"></span> Promeni
        </button>
      </div>
    </div>
  </div>
</div>