/*
 * Typography
 */

h1 {
  margin-bottom: 15px;
  padding-bottom: 7px;
}

hr {
  border: 1px solid #e9ecef;
}

a .fa:focus, a .fa:hover {
  color: #007bff;
}

/*
 * Delete btn START
 */

.artikl-ime {
  cursor: pointer;
  color: #fff !important;
}

.artikl-ime:hover {
    color: #007bff !important;
}

a .active {
  color: #fff;
}

a .active:hover {
    color: #007bff;
}

a .inactive:hover {
    color: #fff;
}

.fa-3x {
  font-size: 0.85rem;
}

.fa-fw {
  width: auto;
}

/*
 * Delete btn END
 */

/*
 * Modal START
 */

.modal-dialog{
  max-width: 450px;
}

.modal-header{
  background-color: #3d7bff !important;
  color: white !important;
}

.modal-header .close{
  color: white;
  opacity: 1;
  text-shadow: none;
}

.modal-header .close:hover{
  color: #dedede !important;
  opacity: 1;
}

.modal-body{
  padding: 15px 30px;
}

.form-control{
  height: 30px;
  padding: 4px 16px;
}

.form-group .input-group .input-group-addon{
  padding: 0;
}

.form-group .input-group .input-group-addon:hover{
  background-color: #ceccc8;
}

.form-group .input-group .input-group-addon:active{
  background-color: #dfd7ca;
}

.modal-footer > button {
  padding: 8px 16px !important;
}

/*
 * Modal END
 */
 