/*
 * Typography
 */

h1 {
  margin-bottom: 15px;
  padding-bottom: 7px;
}

.fa:focus, .fa:hover {
  color: #007bff;
}

/*
 * Modal
 */

.modal-dialog{
  max-width: 450px;
}

.modal-content{
  border-color: #001029 !important;
}

.modal-header{
  background-color: #001029 !important;
  border-color: #001029 !important;
  color: #007bff !important;
}

.modal-header .close{
  color: #007bff !important;
  opacity: 1;
}

.modal-header .close:hover{
  color: #ffffff !important;
  opacity: 1;
}

.modal-body{
  padding: 15px 30px;
}

.form-control{
  height: 30px;
  padding: 4px 16px;
}

.form-group .input-group .input-group-addon{
  padding: 0;
}

.form-group .input-group .input-group-addon:hover{
  background-color: #ceccc8;
}

.form-group .input-group .input-group-addon:active{
  background-color: #dfd7ca;
}

.modal-footer > button {
  padding: 8px 16px !important;
}

@media (max-width: 991px) {
  .page-nav-wrapper {
  	display: none;
  }
}