<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <h1>Magacin</h1>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>Šifra</th>
              <th>Ime</th>
              <th>Količina</th>
              <th>Nabavna cena</th>
              <th>Prodajna cena</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <colgroup>  
             <col style="width: 10%;">
             <col style="width: 30%;">
             <col style="width: 16%;">
             <col style="width: 18%;">
             <col style="width: 18%;">
             <col style="width: 4%;">
             <col style="width: 4%;">
          </colgroup>
          <tbody>
            <tr *ngFor = "let artikl of artikli">
              <td>{{artikl.code}}</td>
              <td><a (click)="getArtikl(artikl.id)" class="artikl-ime">{{artikl.name}}</a></td>
              <td>{{artikl.quantity}}</td>
              <td>{{artikl.purchaseP}}</td>
              <td>{{artikl.sellingP}}</td>
              <td><a (click)="clickedItem(artikl.id, artikl.code, artikl.name)" data-toggle="modal" data-target="#edit-artikl-modal"><span class="fa fa-pencil"></span></a></td>
              <td>
                <a (click)="archiveArtikl(artikl.id, artikl.name)"><span class="fa fa-trash"></span></a>
                <!-- a (click)="archiveArtikl(artikl.id)" *ngIf="artikl.active"><span class="fa fa-trash"></span></a -->
                <!-- LINK NOT ACTIVE -->
                <!-- a *ngIf="!artikl.active"><span class="inactive fa fa-spinner fa-spin fa-3x fa-fw"></span></a -->
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Ukupno: {{ukupnoPoN}}</td>
              <td>Ukupno: {{ukupnoPoProd}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-artikl-modal" tabindex="-1" role="dialog" aria-labelledby="Edit Artikl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span class="fa fa-pencil pl-3"></span> Promena artikla</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>      
      </div>
      <div class="modal-body col-md-12">
        <form (keyup.enter)="updateArtikl(modSifra.value, modIme.value)" >
          <div class="form-group">
            <label for="modal-name">Šifra: </label>
            <input #modSifra type="text" class="form-control" id="modal-sifra" value={{artiklSifra}} placeholder="Šifra">
            <label *ngIf="errorCode1" for="modal-name" style="color: red; float: right; font-size: 10px;">
            Popunite polje!
            </label>
            <label *ngIf="errorCode2" for="modal-name" style="color: red; float: right; font-size: 10px;">
            Šifra mora biti broj!
            </label>
          </div>
          <div class="form-group">
            <label for="modal-ime">Ime: </label>
            <input #modIme type="text" class="form-control" id="modal-ime" value={{artiklIme}} placeholder="Ime">
            <label *ngIf="errorName" for="modal-name" style="color: red; float: right; font-size: 10px;">
            Popunite polje!
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Otkaži</button>
        <button (click)="updateArtikl(modSifra.value, modIme.value)" type="button" class="btn btn-primary" [disabled]="submited">
          Sačuvaj promene<span class="fa fa-floppy-o pl-2" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>