<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-lg-10 pt-3" role="main">
      <h1>Artikl</h1>
      <div class = "rowWraper okvir spread pl-3 pr-3 pt-2">
      	<div class="columWraper">
	      	<label>Šifra:</label>
	      	<p>{{code}}</p>
      	</div>
      	<div class="columWraper">
	      	<label>Ime:</label>
	      	<p>{{name}}</p>
      	</div>
      	<div class="columWraper">
	      	<label>Količina:</label>
	      	<p>{{quantity}}</p>
      	</div>
      	<div class="columWraper">
	      	<label>Nabavna cena:</label>
	      	<p>{{purchaseP}}</p>
      	</div>
      	<div class="columWraper">
	      	<label>Prodajna cena:</label>
	      	<p>{{sellingP}}</p>
      	</div>
      </div>
<!-- START Ulazne fakture tabela -->
      <h3>Ulaz</h3>
      <div class="table-responsive">
        <table class="table table-hover" id="table_id">
          <thead class="thead-inverse">
            <tr>
              <th>Dobavljač</th>
              <th>Broj fakture</th>
              <th>Količina</th>
              <th>Nabavna cena</th>
              <th>Prodajna cena</th>
            </tr>
          </thead>
          <colgroup>  
             <col style="width: 20%;">
             <col style="width: 20%;">
             <col style="width: 20%;">
             <col style="width: 20%;">
             <col style="width: 20%;">
          </colgroup>
          <tbody>
            <tr *ngFor = "let inputInvoice of inputInvoices">
              <td>{{inputInvoice.supplier}}</td>
              <td><a (click)="getInputInvoice(inputInvoice.id)" class="invoice-number">{{inputInvoice.invNumber}}</a></td>
              <td>{{inputInvoice.quantity}}</td>
              <td>{{inputInvoice.purchaseP}}</td>
              <td>{{inputInvoice.sellingP}}</td>
            </tr>
          </tbody>
        </table>
      </div>
<!-- START Izlazne fakture tabela -->
      <h3>Izlaz</h3>
      <div class="table-responsive">
        <table class="table table-hover" id="table_id">
          <thead class="thead-inverse">
            <tr>
              <th>Naručilac</th>
              <th>Broj fakture</th>
              <th>Datum izdavanja</th>
              <th>Količina</th>
              <th>Prodajna cena</th>
            </tr>
          </thead>
          <colgroup>  
             <col style="width: 20%;">
             <col style="width: 20%;">
             <col style="width: 20%;">
             <col style="width: 20%;">
             <col style="width: 20%;">
          </colgroup>
          <tbody>
            <tr *ngFor = "let outputInvoice of outputInvoices">
              <td>{{outputInvoice.purchaser}}</td>
              <td><a (click)="getOutputInvoice(outputInvoice.id)" class="invoice-number">{{outputInvoice.invNumber}}</a></td>
              <td>{{outputInvoice.issueDate | date:'shortDate'}}</td>
              <td>{{outputInvoice.quantity}}</td>
              <td>{{outputInvoice.sellingP}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>