/*
 * Typography
 */

h1 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9ecef;
}

hr {
  border: 1px solid #fff;
  width: 100%;
}

button {
	margin-top: 16px;
	min-width: 135px;
	padding: 8px 10px;
}

.inputWraper {
	border: 2px solid #212529;
	padding: 5px 20px;
	border-radius: 10px;
	background-color: #444;
	margin-bottom: 20px;
}

.fa:focus, .fa:hover {
	color: #007bff;
}

.spread label {
	color: #ffffff; 
	font-size: 20px;
}

/*
 *  Date glyph tweak
 */

.form-group .form-control {
	border: 0;
}

.input-group .input-group-addon{
	border-left: 1px solid #8e8e8e;
	padding: 0;
}

.input-group .input-group-addon:hover{
	background-color: #ceccc8;
}

.input-group .input-group-addon:active{
	background-color: #dfd7ca;
}
