<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-md-10 ml-md-auto pt-3" role="main">
      <h1>Nova izlazna faktura</h1>
      <!-- INVOICE INFO START -->
      <div class="info-wrapper">
        <form class="col-md-6" style="padding: 10px 15px;">
          <div class="form-group">
            <!-- PURCHASER NAME -->
            <label for="purchaser-name">Naručilac: </label>
            <input #name class="form-control" type="text" id="purchaser-name" placeholder="Naziv naručioca">
          </div>
        </form>
        <form class="col-md-6" style="padding: 10px 15px;">
          <div class="form-group">
            <label for="purchaser-invNum">Broj fakture: </label>
            <input #invNum class="form-control" type="text" id="purchaser-invNum" placeholder="Broj fakture">
          </div>
          <div class="form-group">
            <!-- ISSUE DATE -->
            <label for="purchaser-issueDate">Datum izdavanja: </label>
            <div id="purchaser-issueDate" class="input-group date">
             <input #issueDate class="form-control" placeholder="mm/dd/yyyy" type="text"/>
             <div class="input-group-addon">
              <span class="fa fa-calendar" style="padding: 0 15px;" aria-hidden="true"></span>
             </div>
            </div>
            <!-- ISSUE DATE ENDS -->
          </div>
        </form>
      </div>
      <!-- INVOICE INFO END -->
      <!-- INVOICE ITEMS START -->
      <table class="table table-hover">
        <thead class="thead-inverse">
          <th style="width:15%;">Šifra</th>
          <th style="width:35%;">Ime</th>
          <th style="width:15%;">Količina</th>
          <th style="width:25%;">Prodajna cena</th>
          <th style="width:10%;"></th>
        </thead>
        <tbody>
          <tr *ngFor='let row of rowData'>
            <td style="width:15%;"><input #code (keyup.enter)="getItemByCode(code.value, row.id)" [(ngModel)]="row.code" name="row.code"></td>
            <td style="width:35%;">
              <div style="position: relative;">
                <input clickOutside #itemName 
                (keyup)="searchItem(itemName.value, row.id ,$event)" 
                (clickOutside)="hideItemDropdown(row.id)" 
                (keydown.Tab)="hideItemDropdown(row.id)" 
                [(ngModel)]="row.name" name="row.name" id="item-name-{{row.id}}">
                <!-- ITEM DROPDOWN START -->
                <div *ngIf="row.showDropdown" id="item-dropdown-{{row.id}}" class="dropdown">
                  <div class="dropdown-element" 
                  (click)="selectItem(item, row.id)" *ngFor='let item of items'>{{item}}</div>
                </div>
                <!-- ITEM DROPDOWN END -->
              </div>
            </td>
            <td style="width:15%;"><input 
            (focusout)="sumInvoice()" 
            (keyup.enter)="sumInvoice()"
            [(ngModel)]="row.quantity" name="row.quantity"></td>
            <td style="width:25%;"><input 
            (focusout)="sumInvoice()" 
            (keyup.enter)="sumInvoice()"
            [(ngModel)]="row.sellingP" name="row.sellingP"></td>
            <td style="width:10%;"><a (click)="removeRow(row.id)"><span class="fa fa-trash"></span></a></td>
          </tr>
        </tbody>
        <!-- ADD ITEM -->
        <button (click)="addRow(rowId)" id="add-row-button" class="btn btn-primary">Novi Artikal</button>
      </table>
      <!-- INVOICE ITEMS END -->
      <hr>
      <!-- SUBMIT START -->
      <div class="actions">
        <button (click)="submitInvoice(name.value, invNum.value, issueDate.value)" class="btn btn-primary" type="submit" [disabled]="submited">Dodaj fakturu</button>
        <div class="sum">
          <label>Suma: {{sum}}</label>
        </div>
      </div>
      <!-- SUBMIT END -->
    </main>
  </div>
</div>