<div class="container-fluid">
  <div class="row">
    <app-navigacija></app-navigacija>
    <main class="col-sm-9 ml-sm-auto col-md-10 ml-md-auto pt-3" role="main">
      <h1>Kreiraj novu izlaznu fakturu</h1>
<!-- START Input Forma za Kupca-->
  	    <div class="pt-3 columnWraper inputWraper">
  		    <div class="form-group">
  		        <label for="buyer-name">Kupac: </label>
              <input class="form-control" type="text" id="buyer-name" placeholder="Naziv kupca">
  		    </div>
  		    <hr style="border-color: #FFF;">
          <div class="rowWraper form-group">
            <div class="columnWraper pr-3">
              <label for="receipt-number-name">Broj računa: </label>
              <input class="form-control" type="text" id="receipt-number-name" placeholder="Unesti broj računa">
            </div>
            <div class="columnWraper pl-3">
<!-- START Datum izdavanja racuna -->
              <label for="buyer-receiptDate">Datum izdavanja računa:</label>
              <div id="buyer-receiptDate" class="input-group date">
               <input class="form-control" placeholder="mm/dd/yyyy" type="text"/>
               <div class="input-group-addon">
                <span class="fa fa-calendar" style="padding: 0 15px;" aria-hidden="true"></span>
               </div>
              </div>
<!-- END Datum izdavanja racuna -->
            </div>
          </div>
  	    </div>
<!-- END Input Forma za Kupca-->
              
<!-- START Input Dinamicna Tabela -->
    		<div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-inverse">
                <tr>
                  <th>Šifra</th>
                  <th>Ime</th>
                  <th>Prodajna cena</th>
                  <th>Količina</th>
                  <th></th>
                </tr>
              </thead>
              <colgroup>  
                 <col style="width: 16.5%;">
                 <col style="width: 38%;">
                 <col style="width: 25%;">
                 <col style="width: 16.5%;">
                 <col style="width: 4%;">
              </colgroup>
              <tbody>
                <tr *ngFor='let row of rowData'>
                  <td>
                    <input [(ngModel)]="row.code" type="text" class="form-control" name="row.code" placeholder="Unesite šifru">
                  </td>
                  <td>
                    <input [(ngModel)]="row.name" type="text" class="form-control" name="ime" placeholder="Unesite ime">
                  </td>
                  <td>
                    <input (focusout)="sumInvoice()" [(ngModel)]="row.sellingP" type="text" class="form-control" name="row.sellingP" placeholder="Unesite prodajnu cenu">
                  </td>             
                  <td>
                    <input (focusout)="sumInvoice()" [(ngModel)]="row.quantity" type="text" class="form-control" name="row.quantity" placeholder="Unesite količinu">
                  </td>
                  <td>
                    <a (click)="removeRow(row.id)">
                      <span class="fa fa-trash"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
              <!-- ADD ITEM -->
              <button (click)="addRow(rowId)" class="btn btn-primary">Novi Artikal</button>
            </table>
          </div>
<!-- END Input Dinamicna Tabela -->
          <hr>
<!-- START Add i suma -->
          <div class="spread">
            <button (click)="submitInvoice()" class="btn btn-primary" type="submit">Dodaj fakturu</button>
            <label>Suma: {{sum}}</label>
          </div>
<!-- END Add i suma --> 
    </main>
  </div>
</div>