/*
 * Typography
 */

h1 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9ecef;
}

hr {
  border: 1px solid #007bff;
}

.inputForm {
	border: 2px solid #007bff;
	padding: 5px 20px;
	border-radius: 10px;
	background-color: #444;
	margin: 30px 20px;
}

.fa:focus, .fa:hover {
	color: #007bff;
}

.btn {
	margin-right: 20px;
	background-image: linear-gradient(-180deg, #527bff 0%, #007bff 90%);
}